In [760]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [761]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import FeatureUnion, make_pipeline, Pipeline

In [762]:
from sklearn.tree import DecisionTreeClassifier, ExtraTreeClassifier
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from sklearn.neighbors import KNeighborsClassifier, RadiusNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import RidgeClassifierCV
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import GridSearchCV

In [763]:
!pip install catboost

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: catboost in /home/patrick/.local/lib/python3.6/site-packages (0.24.1)
Requirement already satisfied: plotly in /home/patrick/.local/lib/python3.6/site-packages (from catboost) (4.8.2)
Requirement already satisfied: scipy in /home/patrick/.local/lib/python3.6/site-packages (from catboost) (1.4.1)
Requirement already satisfied: pandas>=0.24.0 in /home/patrick/.local/lib/python3.6/site-packages (from catboost) (1.0.1)
Requirement already satisfied: numpy>=1.16.0 in /home/patrick/.local/lib/python3.6/site-packages (from catboost) (1.18.1)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from catboost) (1.11.0)
Requirement already satisfied: graphviz in /home/patrick/.local/lib/python3.6/site-packages (from catboost) (0.14.1)
Requirement already satisfied: matplotlib in /home/patrick/.local/lib/python3.6/site-packages (from catboost) (3.1.3)
Requirement already satisfied: retrying>=1.3.3 in /home/patrick/.local/lib/python3.6/site-packages (from plotly->catboost) (1.3.3)
Requirement already satisfied: pytz>=2017.2 in /usr/lib/python3/dist-packages (from pandas>=0.24.0->catboost) (2018.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/lib/python3/dist-packages (from pandas>=0.24.0->catboost) (2.6.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/patrick/.local/lib/python3.6/site-packages (from matplotlib->catboost) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /home/patrick/.local/lib/python3.6/site-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /home/patrick/.local/lib/python3.6/site-packages (from matplotlib->catboost) (2.4.6)
Requirement already satisfied: setuptools in /home/patrick/.local/lib/python3.6/site-packages (from kiwisolver>=1.0.1->matplotlib->catboost) (49.6.0)

In [764]:
!pip install lightgbm

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: lightgbm in /home/patrick/.local/lib/python3.6/site-packages (3.0.0)
Requirement already satisfied: numpy in /home/patrick/.local/lib/python3.6/site-packages (from lightgbm) (1.18.1)
Requirement already satisfied: scikit-learn!=0.22.0 in /home/patrick/.local/lib/python3.6/site-packages (from lightgbm) (0.23.1)
Requirement already satisfied: scipy in /home/patrick/.local/lib/python3.6/site-packages (from lightgbm) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /home/patrick/.local/lib/python3.6/site-packages (from scikit-learn!=0.22.0->lightgbm) (0.15.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/patrick/.local/lib/python3.6/site-packages (from scikit-learn!=0.22.0->lightgbm) (2.1.0)

In [765]:
import xgboost as xgb
import catboost as cat
import lightgbm as light

In [766]:
! pip install scikit-multilearn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-multilearn in /home/patrick/.local/lib/python3.6/site-packages (0.2.0)

In [767]:
!pip install community

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: community in /home/patrick/.local/lib/python3.6/site-packages (1.0.0b1)
Requirement already satisfied: requests in /usr/lib/python3/dist-packages (from community) (2.18.4)
Requirement already satisfied: Flask in /usr/lib/python3/dist-packages (from community) (0.12.2)

In [768]:
!pip install networkx

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: networkx in /home/patrick/.local/lib/python3.6/site-packages (2.5)
Requirement already satisfied: decorator>=4.3.0 in /home/patrick/.local/lib/python3.6/site-packages (from networkx) (4.4.1)

In [769]:
from skmultilearn.problem_transform import BinaryRelevance, ClassifierChain, LabelPowerset
from skmultilearn.cluster.networkx import NetworkXLabelGraphClusterer
from skmultilearn.cluster import LabelCooccurrenceGraphBuilder
from skmultilearn.ensemble import LabelSpacePartitioningClassifier

> import datasets

In [770]:
test_path = '../datasets/Test.csv'
train_path = '../datasets/Train.csv'
sample_submission_path = '../datasets/SampleSubmission.csv'

> define utitlity functions

load data

In [771]:
def load_data(path=""):
    data = pd.read_csv(path)
    return data

move columns

In [772]:
def movecol(df, cols_to_move=[], ref_col='', place='After'):
    
    cols = df.columns.tolist()    
    if place == 'After':
        seg1 = cols[:list(cols).index(ref_col) + 1]
        seg2 = cols_to_move
    if place == 'Before':
        seg1 = cols[:list(cols).index(ref_col)]
        seg2 = cols_to_move + [ref_col]
    
    seg1 = [i for i in seg1 if i not in seg2]
    seg3 = [i for i in cols if i not in seg1 + seg2]
    
    return(df[seg1 + seg2 + seg3])

transform dates

In [773]:
def transform_dates(df, col_name='', calc_age=False, 
                    birth_year_col_name = '', drop_date=True):
    df[col_name] = pd.to_datetime(df[col_name])
    #fill empty date columns
    if df[col_name].isna().any() == True:
        fill_date = train_set.join_date.mode()[0]
        df[col_name] =  df[col_name].fillna(fill_date)
    
    #create new datelike features
    todays_date = date.today()
    todays_date = pd.to_datetime(todays_date)
    
    df['duration_till_date'] = (todays_date - df[col_name]).astype('str').apply(lambda x: x.split(' d'
                                                                             )[0].strip()).astype('int64')
    
    df['year'] = df[col_name].apply(lambda x: x.year)
    df['month'] = df[col_name].apply(lambda x: x.year)
    df['week_of_year'] = df[col_name].apply(lambda x: x.weekofyear)
    df['day_of_week'] = df[col_name].apply(lambda x: x.dayofweek)
    
    if calc_age:
        
        df['age'] = df['year'] - df[birth_year_col_name]
        
    
    if drop_date:
        df.drop(columns=[col_name], inplace=True)
        
    
    return df

In [774]:
def val_counts(df, columns=[]):
    for col in columns:
        print("**"*8)
        print(col)
        print("**"*8) 
        print(df[col].value_counts())

In [775]:
test_set = load_data(test_path)
train_set = load_data(train_path)
sample_submission = load_data(sample_submission_path)

In [776]:
train_set

,ID,join_date,sex,marital_status,birth_year,branch_code,occupation_code,occupation_category_code,P5DA,RIBP,...,AHXO,BSTQ,FM3X,K6QO,QBOL,JWFN,JZ9D,J9JW,GHYX,ECY3
0,4WKQSBB,1/2/2019,F,M,1987,1X1H,2A7I,T4MS,0,0,...,0,0,0,1,0,0,0,0,0,0
1,CP5S02H,1/6/2019,F,M,1981,UAOD,2A7I,T4MS,0,0,...,0,0,0,1,0,0,0,0,0,0
2,2YKDILJ,1/6/2013,M,U,1991,748L,QZYX,90QI,0,0,...,0,0,0,0,0,0,0,0,0,1
3,2S9E81J,1/8/2019,M,M,1990,1X1H,BP09,56SI,0,0,...,0,0,0,1,0,0,0,0,0,0
4,BHDYVFT,1/8/2019,M,M,1990,748L,NO3L,T4MS,0,0,...,0,0,0,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29127,8SBA93U,1/9/2019,F,M,1974,748L,2A7I,T4MS,0,0,...,0,0,0,1,0,0,0,0,0,0
29128,Y73ETTO,1/11/2018,M,M,1987,XX25,Q6J6,90QI,0,0,...,0,0,0,1,0,0,0,0,0,0
29129,MVXG2LC,1/2/2019,M,M,1985,BOAS,6PE7,T4MS,0,0,...,0,0,0,1,0,0,0,0,0,0
29130,BUQ8DQN,1/7/2019,M,M,1989,UAOD,2A7I,T4MS,0,0,...,0,0,0,1,0,0,0,0,0,0
29131,DEJBWYU,1/3/2020,M,M,1975,94KC,31JW,90QI,0,0,...,0,0,0,1,0,0,0,0,0,0

In [777]:
test_set

,ID,join_date,sex,marital_status,birth_year,branch_code,occupation_code,occupation_category_code,P5DA,RIBP,...,AHXO,BSTQ,FM3X,K6QO,QBOL,JWFN,JZ9D,J9JW,GHYX,ECY3
0,F86J5PC,1/12/2018,M,M,1984,94KC,DZRV,90QI,0,0,...,0,0,0,0,0,0,0,0,0,0
1,H6141K3,1/10/2019,M,M,1996,1X1H,J9SY,90QI,0,0,...,0,0,0,1,0,0,0,0,0,0
2,RBAYUXZ,1/1/2020,F,W,1968,UAOD,2A7I,T4MS,0,0,...,0,0,0,1,0,0,0,0,0,0
3,KCBILBQ,1/2/2019,M,M,1989,94KC,2A7I,T4MS,0,0,...,0,0,0,0,0,0,0,0,0,0
4,LSEC1ZJ,1/2/2020,F,M,1982,UAOD,0KID,T4MS,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0GMU5UH,1/4/2019,F,M,1986,748L,2A7I,T4MS,0,0,...,0,0,0,0,1,0,1,0,0,0
9996,I9W11CD,1/8/2019,M,M,1980,UAOD,0KID,T4MS,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,42WTEGT,1/4/2018,M,M,1993,748L,SST3,56SI,0,0,...,0,0,0,1,0,0,0,0,0,0
9998,8EKC4O9,1/5/2015,F,U,1981,49BM,2A7I,T4MS,0,0,...,0,0,0,0,0,0,0,0,0,0
9999,WHII93K,1/11/2018,M,U,1977,94KC,2A7I,T4MS,0,0,...,0,0,0,1,0,0,0,0,0,0

In [778]:
sample_submission

            ID X PCODE  Label
0       F86J5PC X P5DA      0
1       F86J5PC X RIBP      0
2       F86J5PC X 8NN1      0
3       F86J5PC X 7POT      0
4       F86J5PC X 66FJ      0
...                ...    ...
209995  WHII93K X JWFN      0
209996  WHII93K X JZ9D      0
209997  WHII93K X J9JW      0
209998  WHII93K X GHYX      0
209999  WHII93K X ECY3      0

[210000 rows x 2 columns]

### Data Cleaning

In [779]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29132 entries, 0 to 29131
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        29132 non-null  object
 1   join_date                 29130 non-null  object
 2   sex                       29132 non-null  object
 3   marital_status            29132 non-null  object
 4   birth_year                29132 non-null  int64
 5   branch_code               29132 non-null  object
 6   occupation_code           29132 non-null  object
 7   occupation_category_code  29132 non-null  object
 8   P5DA                      29132 non-null  int64
 9   RIBP                      29132 non-null  int64
 10  8NN1                      29132 non-null  int64
 11  7POT                      29132 non-null  int64
 12  66FJ                      29132 non-null  int64
 13  GYSR                      29132 non-null  int64
 14  SOP4                      29132 non-null  int64
 15  RVSZ                      29132 non-null  int64
 16  PYUQ                      29132 non-null  int64
 17  LJR9                      29132 non-null  int64
 18  N2MW                      29132 non-null  int64
 19  AHXO                      29132 non-null  int64
 20  BSTQ                      29132 non-null  int64
 21  FM3X                      29132 non-null  int64
 22  K6QO                      29132 non-null  int64
 23  QBOL                      29132 non-null  int64
 24  JWFN                      29132 non-null  int64
 25  JZ9D                      29132 non-null  int64
 26  J9JW                      29132 non-null  int64
 27  GHYX                      29132 non-null  int64
 28  ECY3                      29132 non-null  int64
dtypes: int64(22), object(7)
memory usage: 6.4+ MB

> Check values in columns

In [780]:
val_counts(train_set, columns=train_set.columns.to_list())

****************
ID
****************
9EGDEN0    1
A3ZGLU7    1
TPG6MBW    1
B46SPHV    1
22MBOJC    1
          ..
QUQ44D9    1
6LJUIN9    1
05ELFH6    1
ZQD2GSI    1
GXCN6SD    1
Name: ID, Length: 29132, dtype: int64
****************
join_date
****************
1/5/2018      1319
1/5/2019      1199
1/4/2018      1123
1/4/2019      1043
1/1/2019       754
              ...
22/10/2012       1
11/1/2013        1
7/9/2012         1
8/9/2012         1
23/5/2013        1
Name: join_date, Length: 132, dtype: int64
****************
sex
****************
M    20329
F     8803
Name: sex, dtype: int64
****************
marital_status
****************
M    22913
S     3267
U     2474
W      301
D      135
R       34
P        7
f        1
Name: marital_status, dtype: int64
****************
birth_year
****************
1983    1263
1984    1241
1982    1222
1980    1143
1986    1097
        ...
1932       1
2011       1
1946       1
2005       1
1936       1
Name: birth_year, Length: 61, dtype: int64
****************
branch_code
****************
748L    8136
94KC    3658
UAOD    3507
E5SW    3185
30H5    3151
XX25    2805
1X1H    1303
O67J    1125
ZFER     747
49BM     621
9F9T     429
BOAS     347
X23B      99
O4JC      10
EU3L       9
Name: branch_code, dtype: int64
****************
occupation_code
****************
2A7I    7089
0KID    3969
SST3    2711
UJ5T    2079
0OJM    1565
        ...
URYD       1
BER4       1
FLXH       1
BFD1       1
HSVE       1
Name: occupation_code, Length: 233, dtype: int64
****************
occupation_category_code
****************
T4MS    18619
90QI     5552
56SI     3655
L44T      628
JD7X      576
AHH5      102
Name: occupation_category_code, dtype: int64
****************
P5DA
****************
0    29092
1       40
Name: P5DA, dtype: int64
****************
RIBP
****************
0    27352
1     1780
Name: RIBP, dtype: int64
****************
8NN1
****************
0    28975
1      157
Name: 8NN1, dtype: int64
****************
7POT
****************
0    28816
1      316
Name: 7POT, dtype: int64
****************
66FJ
****************
0    28793
1      339
Name: 66FJ, dtype: int64
****************
GYSR
****************
0    29128
1        4
Name: GYSR, dtype: int64
****************
SOP4
****************
0    28701
1      431
Name: SOP4, dtype: int64
****************
RVSZ
****************
1    25328
0     3804
Name: RVSZ, dtype: int64
****************
PYUQ
****************
0    26959
1     2173
Name: PYUQ, dtype: int64
****************
LJR9
****************
0    28778
1      354
Name: LJR9, dtype: int64
****************
N2MW
****************
0    28294
1      838
Name: N2MW, dtype: int64
****************
AHXO
****************
0    28593
1      539
Name: AHXO, dtype: int64
****************
BSTQ
****************
0    28808
1      324
Name: BSTQ, dtype: int64
****************
FM3X
****************
0    29022
1      110
Name: FM3X, dtype: int64
****************
K6QO
****************
1    21629
0     7503
Name: K6QO, dtype: int64
****************
QBOL
****************
0    22299
1     6833
Name: QBOL, dtype: int64
****************
JWFN
****************
0    28821
1      311
Name: JWFN, dtype: int64
****************
JZ9D
****************
0    27707
1     1425
Name: JZ9D, dtype: int64
****************
J9JW
****************
0    27714
1     1418
Name: J9JW, dtype: int64
****************
GHYX
****************
0    28230
1      902
Name: GHYX, dtype: int64
****************
ECY3
****************
0    28030
1     1102
Name: ECY3, dtype: int64

> For every product codes, there is an `imbalance in the class`. lesser product patronage among the class

In [781]:
train_set.isna().any()

ID                          False
join_date                    True
sex                         False
marital_status              False
birth_year                  False
branch_code                 False
occupation_code             False
occupation_category_code    False
P5DA                        False
RIBP                        False
8NN1                        False
7POT                        False
66FJ                        False
GYSR                        False
SOP4                        False
RVSZ                        False
PYUQ                        False
LJR9                        False
N2MW                        False
AHXO                        False
BSTQ                        False
FM3X                        False
K6QO                        False
QBOL                        False
JWFN                        False
JZ9D                        False
J9JW                        False
GHYX                        False
ECY3                        False
dtype: bool

date as empty rows

no more null values in date

### Feature Enngineering

> feature engineer dates and time

In [782]:
train_set = transform_dates(train_set, col_name='join_date', calc_age=True, 
                            birth_year_col_name='birth_year', drop_date=True)

In [783]:
train_set

,ID,sex,marital_status,birth_year,branch_code,occupation_code,occupation_category_code,P5DA,RIBP,8NN1,...,JZ9D,J9JW,GHYX,ECY3,duration_till_date,year,month,week_of_year,day_of_week,age
0,4WKQSBB,F,M,1987,1X1H,2A7I,T4MS,0,0,0,...,0,0,0,0,611,2019,2019,1,2,32
1,CP5S02H,F,M,1981,UAOD,2A7I,T4MS,0,0,0,...,0,0,0,0,607,2019,2019,1,6,38
2,2YKDILJ,M,U,1991,748L,QZYX,90QI,0,0,0,...,0,0,0,1,2798,2013,2013,1,6,22
3,2S9E81J,M,M,1990,1X1H,BP09,56SI,0,0,0,...,0,0,0,0,605,2019,2019,2,1,29
4,BHDYVFT,M,M,1990,748L,NO3L,T4MS,0,0,0,...,1,1,0,0,605,2019,2019,2,1,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29127,8SBA93U,F,M,1974,748L,2A7I,T4MS,0,0,0,...,0,0,0,0,604,2019,2019,2,2,45
29128,Y73ETTO,M,M,1987,XX25,Q6J6,90QI,0,0,0,...,0,0,0,0,967,2018,2018,2,3,31
29129,MVXG2LC,M,M,1985,BOAS,6PE7,T4MS,0,0,0,...,0,0,0,0,611,2019,2019,1,2,34
29130,BUQ8DQN,M,M,1989,UAOD,2A7I,T4MS,0,0,0,...,0,0,0,0,606,2019,2019,2,0,30
29131,DEJBWYU,M,M,1975,94KC,31JW,90QI,0,0,0,...,0,0,0,0,245,2020,2020,1,4,45

In [784]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29132 entries, 0 to 29131
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        29132 non-null  object
 1   sex                       29132 non-null  object
 2   marital_status            29132 non-null  object
 3   birth_year                29132 non-null  int64
 4   branch_code               29132 non-null  object
 5   occupation_code           29132 non-null  object
 6   occupation_category_code  29132 non-null  object
 7   P5DA                      29132 non-null  int64
 8   RIBP                      29132 non-null  int64
 9   8NN1                      29132 non-null  int64
 10  7POT                      29132 non-null  int64
 11  66FJ                      29132 non-null  int64
 12  GYSR                      29132 non-null  int64
 13  SOP4                      29132 non-null  int64
 14  RVSZ                      29132 non-null  int64
 15  PYUQ                      29132 non-null  int64
 16  LJR9                      29132 non-null  int64
 17  N2MW                      29132 non-null  int64
 18  AHXO                      29132 non-null  int64
 19  BSTQ                      29132 non-null  int64
 20  FM3X                      29132 non-null  int64
 21  K6QO                      29132 non-null  int64
 22  QBOL                      29132 non-null  int64
 23  JWFN                      29132 non-null  int64
 24  JZ9D                      29132 non-null  int64
 25  J9JW                      29132 non-null  int64
 26  GHYX                      29132 non-null  int64
 27  ECY3                      29132 non-null  int64
 28  duration_till_date        29132 non-null  int64
 29  year                      29132 non-null  int64
 30  month                     29132 non-null  int64
 31  week_of_year              29132 non-null  int64
 32  day_of_week               29132 non-null  int64
 33  age                       29132 non-null  int64
dtypes: int64(28), object(6)
memory usage: 7.6+ MB

> reorder columns

In [785]:
train_set = movecol(train_set, ['age','duration_till_date', 'year', 'month', 
                                'week_of_year', 'day_of_week'], ref_col='ID')

In [786]:
train_set.head()

,ID,age,duration_till_date,year,month,week_of_year,day_of_week,sex,marital_status,birth_year,...,AHXO,BSTQ,FM3X,K6QO,QBOL,JWFN,JZ9D,J9JW,GHYX,ECY3
0,4WKQSBB,32,611,2019,2019,1,2,F,M,1987,...,0,0,0,1,0,0,0,0,0,0
1,CP5S02H,38,607,2019,2019,1,6,F,M,1981,...,0,0,0,1,0,0,0,0,0,0
2,2YKDILJ,22,2798,2013,2013,1,6,M,U,1991,...,0,0,0,0,0,0,0,0,0,1
3,2S9E81J,29,605,2019,2019,2,1,M,M,1990,...,0,0,0,1,0,0,0,0,0,0
4,BHDYVFT,29,605,2019,2019,2,1,M,M,1990,...,0,0,0,0,0,0,1,1,0,0

In [787]:
train_set.columns

Index(['ID', 'age', 'duration_till_date', 'year', 'month', 'week_of_year',
       'day_of_week', 'sex', 'marital_status', 'birth_year', 'branch_code',
       'occupation_code', 'occupation_category_code', 'P5DA', 'RIBP', '8NN1',
       '7POT', '66FJ', 'GYSR', 'SOP4', 'RVSZ', 'PYUQ', 'LJR9', 'N2MW', 'AHXO',
       'BSTQ', 'FM3X', 'K6QO', 'QBOL', 'JWFN', 'JZ9D', 'J9JW', 'GHYX', 'ECY3'],
      dtype='object')

> Melt product IDs to single columns

In [788]:
product_ids  = train_set.columns.to_list()[13:]
product_ids

['P5DA',
 'RIBP',
 '8NN1',
 '7POT',
 '66FJ',
 'GYSR',
 'SOP4',
 'RVSZ',
 'PYUQ',
 'LJR9',
 'N2MW',
 'AHXO',
 'BSTQ',
 'FM3X',
 'K6QO',
 'QBOL',
 'JWFN',
 'JZ9D',
 'J9JW',
 'GHYX',
 'ECY3']

In [789]:
f'lenght of insurance products {len(product_ids)}'

'lenght of insurance products 21'

In [790]:
non_product_ids = train_set.iloc[:, :12].columns.tolist()

In [791]:
non_product_ids

['ID',
 'age',
 'duration_till_date',
 'year',
 'month',
 'week_of_year',
 'day_of_week',
 'sex',
 'marital_status',
 'birth_year',
 'branch_code',
 'occupation_code']

In [792]:
train_set=train_set.melt(id_vars=non_product_ids, value_vars=product_ids, var_name='product_ids', value_name='labels')

In [793]:
train_set

,ID,age,duration_till_date,year,month,week_of_year,day_of_week,sex,marital_status,birth_year,branch_code,occupation_code,product_ids,labels
0,4WKQSBB,32,611,2019,2019,1,2,F,M,1987,1X1H,2A7I,P5DA,0
1,CP5S02H,38,607,2019,2019,1,6,F,M,1981,UAOD,2A7I,P5DA,0
2,2YKDILJ,22,2798,2013,2013,1,6,M,U,1991,748L,QZYX,P5DA,0
3,2S9E81J,29,605,2019,2019,2,1,M,M,1990,1X1H,BP09,P5DA,0
4,BHDYVFT,29,605,2019,2019,2,1,M,M,1990,748L,NO3L,P5DA,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
611767,8SBA93U,45,604,2019,2019,2,2,F,M,1974,748L,2A7I,ECY3,0
611768,Y73ETTO,31,967,2018,2018,2,3,M,M,1987,XX25,Q6J6,ECY3,0
611769,MVXG2LC,34,611,2019,2019,1,2,M,M,1985,BOAS,6PE7,ECY3,0
611770,BUQ8DQN,30,606,2019,2019,2,0,M,M,1989,UAOD,2A7I,ECY3,0
611771,DEJBWYU,45,245,2020,2020,1,4,M,M,1975,94KC,31JW,ECY3,0

> sort dataset by customer ID and product id

In [794]:
train_set.sort_values(by=['ID','product_ids' ], inplace=True)

In [795]:
train_set

,ID,age,duration_till_date,year,month,week_of_year,day_of_week,sex,marital_status,birth_year,branch_code,occupation_code,product_ids,labels
135107,001IIBS,36,605,2019,2019,2,1,F,M,1983,9F9T,31JW,66FJ,0
105975,001IIBS,36,605,2019,2019,2,1,F,M,1983,9F9T,31JW,7POT,0
76843,001IIBS,36,605,2019,2019,2,1,F,M,1983,9F9T,31JW,8NN1,0
339031,001IIBS,36,605,2019,2019,2,1,F,M,1983,9F9T,31JW,AHXO,0
368163,001IIBS,36,605,2019,2019,2,1,F,M,1983,9F9T,31JW,BSTQ,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260571,ZZZU5BE,25,608,2019,2019,1,5,M,M,1994,94KC,2A7I,PYUQ,0
464495,ZZZU5BE,25,608,2019,2019,1,5,M,M,1994,94KC,2A7I,QBOL,0
56647,ZZZU5BE,25,608,2019,2019,1,5,M,M,1994,94KC,2A7I,RIBP,0
231439,ZZZU5BE,25,608,2019,2019,1,5,M,M,1994,94KC,2A7I,RVSZ,1
202307,ZZZU5BE,25,608,2019,2019,1,5,M,M,1994,94KC,2A7I,SOP4,0

<!-- > concatenate product ID and customer ID -->

In [796]:
val_counts(train_set, train_set.columns.to_list())

****************
ID
****************
9EGDEN0    21
7MNKSID    21
MO6BP6W    21
41CHTND    21
23Z5Q32    21
           ..
H1ARWUU    21
982SCPC    21
4R3ZLXO    21
S47UIC6    21
GXCN6SD    21
Name: ID, Length: 29132, dtype: int64
****************
age
****************
36    24927
35    24318
34    24087
33    23751
37    23730
39    22638
38    22407
32    22176
31    21903
30    21819
40    21651
41    20412
29    20244
44    20223
42    20097
43    18669
45    18648
46    17661
28    17052
27    16212
47    16086
48    15918
26    14910
49    14658
25    12726
50    12474
51    11928
24    11403
52     9408
23     8757
53     7896
22     6930
54     6300
55     6216
56     5607
59     4809
58     4557
57     4494
21     4473
20     3234
60     2814
19     1512
61      483
18      420
63      357
62      189
17      105
65      105
64      105
66      105
15       21
80       21
76       21
67       21
70       21
72       21
74       21
8        21
Name: age, dtype: int64
****************
duration_till_date
****************
973     27741
608     25179
974     23583
609     21903
612     15834
        ...
3130       21
2661       21
2948       21
2979       21
2499       21
Name: duration_till_date, Length: 132, dtype: int64
****************
year
****************
2019    186984
2018    154434
2017     92715
2020     66318
2016     44520
2015     19110
2014     15477
2013     12831
2012     11235
2011      6615
2010      1533
Name: year, dtype: int64
****************
month
****************
2019    186984
2018    154434
2017     92715
2020     66318
2016     44520
2015     19110
2014     15477
2013     12831
2012     11235
2011      6615
2010      1533
Name: month, dtype: int64
****************
week_of_year
****************
1     364833
2     235620
53      5544
52      4263
3       1302
33        42
23        42
44        21
43        21
32        21
28        21
21        21
6         21
Name: week_of_year, dtype: int64
****************
day_of_week
****************
4    110565
3    103446
1     90342
5     89670
2     82908
0     70560
6     64281
Name: day_of_week, dtype: int64
****************
sex
****************
M    426909
F    184863
Name: sex, dtype: int64
****************
marital_status
****************
M    481173
S     68607
U     51954
W      6321
D      2835
R       714
P       147
f        21
Name: marital_status, dtype: int64
****************
birth_year
****************
1983    26523
1984    26061
1982    25662
1980    24003
1986    23037
        ...
1936       21
2011       21
1951       21
2005       21
1932       21
Name: birth_year, Length: 61, dtype: int64
****************
branch_code
****************
748L    170856
94KC     76818
UAOD     73647
E5SW     66885
30H5     66171
XX25     58905
1X1H     27363
O67J     23625
ZFER     15687
49BM     13041
9F9T      9009
BOAS      7287
X23B      2079
O4JC       210
EU3L       189
Name: branch_code, dtype: int64
****************
occupation_code
****************
2A7I    148869
0KID     83349
SST3     56931
UJ5T     43659
0OJM     32865
         ...
DD8W        21
WSRG        21
VYSA        21
MEFQ        21
5OVC        21
Name: occupation_code, Length: 233, dtype: int64
****************
product_ids
****************
J9JW    29132
66FJ    29132
QBOL    29132
BSTQ    29132
SOP4    29132
N2MW    29132
JZ9D    29132
AHXO    29132
LJR9    29132
ECY3    29132
PYUQ    29132
P5DA    29132
RVSZ    29132
K6QO    29132
JWFN    29132
FM3X    29132
RIBP    29132
7POT    29132
GYSR    29132
8NN1    29132
GHYX    29132
Name: product_ids, dtype: int64
****************
labels
****************
0    545419
1     66353
Name: labels, dtype: int64

> Find ratio of class

In [797]:
train_set.labels.value_counts()

0    545419
1     66353
Name: labels, dtype: int64

The total number of subscriptions is more than no subscriptions -> imbalanced class

> Further Feature Engineering

In [798]:
train_set

,ID,age,duration_till_date,year,month,week_of_year,day_of_week,sex,marital_status,birth_year,branch_code,occupation_code,product_ids,labels
135107,001IIBS,36,605,2019,2019,2,1,F,M,1983,9F9T,31JW,66FJ,0
105975,001IIBS,36,605,2019,2019,2,1,F,M,1983,9F9T,31JW,7POT,0
76843,001IIBS,36,605,2019,2019,2,1,F,M,1983,9F9T,31JW,8NN1,0
339031,001IIBS,36,605,2019,2019,2,1,F,M,1983,9F9T,31JW,AHXO,0
368163,001IIBS,36,605,2019,2019,2,1,F,M,1983,9F9T,31JW,BSTQ,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260571,ZZZU5BE,25,608,2019,2019,1,5,M,M,1994,94KC,2A7I,PYUQ,0
464495,ZZZU5BE,25,608,2019,2019,1,5,M,M,1994,94KC,2A7I,QBOL,0
56647,ZZZU5BE,25,608,2019,2019,1,5,M,M,1994,94KC,2A7I,RIBP,0
231439,ZZZU5BE,25,608,2019,2019,1,5,M,M,1994,94KC,2A7I,RVSZ,1
202307,ZZZU5BE,25,608,2019,2019,1,5,M,M,1994,94KC,2A7I,SOP4,0

In [799]:
train_set.groupby('produt_ids')['ID'].count()

KeyError: 'produt_ids'

> proposed feature engineering

1.