In [190]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [191]:
from sklearn.tree import DecisionTreeClassifier, ExtraTreeClassifier
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from sklearn.neighbors import KNeighborsClassifier, RadiusNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import RidgeClassifierCV
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import GridSearchCV

In [192]:
! pip install scikit-multilearn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-multilearn in /home/patrick/.local/lib/python3.6/site-packages (0.2.0)

In [193]:
!pip install community

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: community in /home/patrick/.local/lib/python3.6/site-packages (1.0.0b1)
Requirement already satisfied: requests in /usr/lib/python3/dist-packages (from community) (2.18.4)
Requirement already satisfied: Flask in /usr/lib/python3/dist-packages (from community) (0.12.2)

In [194]:
!pip install networkx

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: networkx in /home/patrick/.local/lib/python3.6/site-packages (2.5)
Requirement already satisfied: decorator>=4.3.0 in /home/patrick/.local/lib/python3.6/site-packages (from networkx) (4.4.1)

In [195]:
from skmultilearn.problem_transform import BinaryRelevance, ClassifierChain, LabelPowerset
from skmultilearn.cluster.networkx import NetworkXLabelGraphClusterer
from skmultilearn.cluster import LabelCooccurrenceGraphBuilder
from skmultilearn.ensemble import LabelSpacePartitioningClassifier

> import datasets

In [196]:
test_path = '../datasets/Test.csv'
train_path = '../datasets/Train.csv'
sample_submission_path = '../datasets/SampleSubmission.csv'

In [197]:
test_set = pd.read_csv(test_path)
train_set = pd.read_csv(train_path)
sample_submission = pd.read_csv(sample_submission_path)

In [198]:
train_set

,ID,join_date,sex,marital_status,birth_year,branch_code,occupation_code,occupation_category_code,P5DA,RIBP,...,AHXO,BSTQ,FM3X,K6QO,QBOL,JWFN,JZ9D,J9JW,GHYX,ECY3
0,4WKQSBB,1/2/2019,F,M,1987,1X1H,2A7I,T4MS,0,0,...,0,0,0,1,0,0,0,0,0,0
1,CP5S02H,1/6/2019,F,M,1981,UAOD,2A7I,T4MS,0,0,...,0,0,0,1,0,0,0,0,0,0
2,2YKDILJ,1/6/2013,M,U,1991,748L,QZYX,90QI,0,0,...,0,0,0,0,0,0,0,0,0,1
3,2S9E81J,1/8/2019,M,M,1990,1X1H,BP09,56SI,0,0,...,0,0,0,1,0,0,0,0,0,0
4,BHDYVFT,1/8/2019,M,M,1990,748L,NO3L,T4MS,0,0,...,0,0,0,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29127,8SBA93U,1/9/2019,F,M,1974,748L,2A7I,T4MS,0,0,...,0,0,0,1,0,0,0,0,0,0
29128,Y73ETTO,1/11/2018,M,M,1987,XX25,Q6J6,90QI,0,0,...,0,0,0,1,0,0,0,0,0,0
29129,MVXG2LC,1/2/2019,M,M,1985,BOAS,6PE7,T4MS,0,0,...,0,0,0,1,0,0,0,0,0,0
29130,BUQ8DQN,1/7/2019,M,M,1989,UAOD,2A7I,T4MS,0,0,...,0,0,0,1,0,0,0,0,0,0
29131,DEJBWYU,1/3/2020,M,M,1975,94KC,31JW,90QI,0,0,...,0,0,0,1,0,0,0,0,0,0

In [199]:
test_set

,ID,join_date,sex,marital_status,birth_year,branch_code,occupation_code,occupation_category_code,P5DA,RIBP,...,AHXO,BSTQ,FM3X,K6QO,QBOL,JWFN,JZ9D,J9JW,GHYX,ECY3
0,F86J5PC,1/12/2018,M,M,1984,94KC,DZRV,90QI,0,0,...,0,0,0,0,0,0,0,0,0,0
1,H6141K3,1/10/2019,M,M,1996,1X1H,J9SY,90QI,0,0,...,0,0,0,1,0,0,0,0,0,0
2,RBAYUXZ,1/1/2020,F,W,1968,UAOD,2A7I,T4MS,0,0,...,0,0,0,1,0,0,0,0,0,0
3,KCBILBQ,1/2/2019,M,M,1989,94KC,2A7I,T4MS,0,0,...,0,0,0,0,0,0,0,0,0,0
4,LSEC1ZJ,1/2/2020,F,M,1982,UAOD,0KID,T4MS,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0GMU5UH,1/4/2019,F,M,1986,748L,2A7I,T4MS,0,0,...,0,0,0,0,1,0,1,0,0,0
9996,I9W11CD,1/8/2019,M,M,1980,UAOD,0KID,T4MS,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,42WTEGT,1/4/2018,M,M,1993,748L,SST3,56SI,0,0,...,0,0,0,1,0,0,0,0,0,0
9998,8EKC4O9,1/5/2015,F,U,1981,49BM,2A7I,T4MS,0,0,...,0,0,0,0,0,0,0,0,0,0
9999,WHII93K,1/11/2018,M,U,1977,94KC,2A7I,T4MS,0,0,...,0,0,0,1,0,0,0,0,0,0

In [200]:
sample_submission

            ID X PCODE  Label
0       F86J5PC X P5DA      0
1       F86J5PC X RIBP      0
2       F86J5PC X 8NN1      0
3       F86J5PC X 7POT      0
4       F86J5PC X 66FJ      0
...                ...    ...
209995  WHII93K X JWFN      0
209996  WHII93K X JZ9D      0
209997  WHII93K X J9JW      0
209998  WHII93K X GHYX      0
209999  WHII93K X ECY3      0

[210000 rows x 2 columns]

> clean train set

In [201]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29132 entries, 0 to 29131
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        29132 non-null  object
 1   join_date                 29130 non-null  object
 2   sex                       29132 non-null  object
 3   marital_status            29132 non-null  object
 4   birth_year                29132 non-null  int64
 5   branch_code               29132 non-null  object
 6   occupation_code           29132 non-null  object
 7   occupation_category_code  29132 non-null  object
 8   P5DA                      29132 non-null  int64
 9   RIBP                      29132 non-null  int64
 10  8NN1                      29132 non-null  int64
 11  7POT                      29132 non-null  int64
 12  66FJ                      29132 non-null  int64
 13  GYSR                      29132 non-null  int64
 14  SOP4                      29132 non-null  int64
 15  RVSZ                      29132 non-null  int64
 16  PYUQ                      29132 non-null  int64
 17  LJR9                      29132 non-null  int64
 18  N2MW                      29132 non-null  int64
 19  AHXO                      29132 non-null  int64
 20  BSTQ                      29132 non-null  int64
 21  FM3X                      29132 non-null  int64
 22  K6QO                      29132 non-null  int64
 23  QBOL                      29132 non-null  int64
 24  JWFN                      29132 non-null  int64
 25  JZ9D                      29132 non-null  int64
 26  J9JW                      29132 non-null  int64
 27  GHYX                      29132 non-null  int64
 28  ECY3                      29132 non-null  int64
dtypes: int64(22), object(7)
memory usage: 6.4+ MB

In [202]:
train_set.isna().any()

ID                          False
join_date                    True
sex                         False
marital_status              False
birth_year                  False
branch_code                 False
occupation_code             False
occupation_category_code    False
P5DA                        False
RIBP                        False
8NN1                        False
7POT                        False
66FJ                        False
GYSR                        False
SOP4                        False
RVSZ                        False
PYUQ                        False
LJR9                        False
N2MW                        False
AHXO                        False
BSTQ                        False
FM3X                        False
K6QO                        False
QBOL                        False
JWFN                        False
JZ9D                        False
J9JW                        False
GHYX                        False
ECY3                        False
dtype: bool

date as empty rows

In [203]:
fill_date = train_set.join_date.mode()[0]

In [204]:
train_set.join_date = train_set.join_date.fillna(fill_date)

In [205]:
train_set.isna().any()

ID                          False
join_date                   False
sex                         False
marital_status              False
birth_year                  False
branch_code                 False
occupation_code             False
occupation_category_code    False
P5DA                        False
RIBP                        False
8NN1                        False
7POT                        False
66FJ                        False
GYSR                        False
SOP4                        False
RVSZ                        False
PYUQ                        False
LJR9                        False
N2MW                        False
AHXO                        False
BSTQ                        False
FM3X                        False
K6QO                        False
QBOL                        False
JWFN                        False
JZ9D                        False
J9JW                        False
GHYX                        False
ECY3                        False
dtype: bool

no more null values in date

> feature engineer dates

In [206]:
train_set.join_date = pd.to_datetime(train_set.join_date)

In [207]:
train_set.join_date

0       2019-01-02
1       2019-01-06
2       2013-01-06
3       2019-01-08
4       2019-01-08
           ...
29127   2019-01-09
29128   2018-01-11
29129   2019-01-02
29130   2019-01-07
29131   2020-01-03
Name: join_date, Length: 29132, dtype: datetime64[ns]

In [208]:
train_set.join_date.dtype

dtype('<M8[ns]')

##### Engineer the follwoing features from date 

- month, year, week of year, and duration

In [209]:
from datetime import date, datetime

In [210]:
todays_date = date.today()
todays_date = pd.to_datetime(todays_date)

In [214]:
train_set['duration_in_days'] = todays_date - train_set.join_date

In [215]:
train_set.duration_in_days.isna().any()

False

In [216]:
train_set.duration_in_days = train_set.duration_in_days.astype('str').apply(lambda x: x.split(' d'
                                                                             )[0].strip()).astype('int64')

In [217]:
train_set.duration_in_days

0         611
1         607
2        2798
3         605
4         605
         ...
29127     604
29128     967
29129     611
29130     606
29131     245
Name: duration_in_days, Length: 29132, dtype: int64

In [218]:
train_set['year'] = train_set.join_date.apply(lambda x: x.year)

In [219]:
train_set.year.dtype

dtype('int64')

In [220]:
train_set['month'] = train_set.join_date.apply(lambda x: x.month)

In [221]:
train_set.month.dtype

dtype('int64')

In [222]:
train_set['week_of_year'] = train_set.join_date.apply(lambda x: x.weekofyear)

In [223]:
train_set.week_of_year.dtype

dtype('int64')

> drop join_date column

In [224]:
train_set.drop(columns=['join_date'], inplace=True)

In [225]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29132 entries, 0 to 29131
Data columns (total 32 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        29132 non-null  object
 1   sex                       29132 non-null  object
 2   marital_status            29132 non-null  object
 3   birth_year                29132 non-null  int64
 4   branch_code               29132 non-null  object
 5   occupation_code           29132 non-null  object
 6   occupation_category_code  29132 non-null  object
 7   P5DA                      29132 non-null  int64
 8   RIBP                      29132 non-null  int64
 9   8NN1                      29132 non-null  int64
 10  7POT                      29132 non-null  int64
 11  66FJ                      29132 non-null  int64
 12  GYSR                      29132 non-null  int64
 13  SOP4                      29132 non-null  int64
 14  RVSZ                      29132 non-null  int64
 15  PYUQ                      29132 non-null  int64
 16  LJR9                      29132 non-null  int64
 17  N2MW                      29132 non-null  int64
 18  AHXO                      29132 non-null  int64
 19  BSTQ                      29132 non-null  int64
 20  FM3X                      29132 non-null  int64
 21  K6QO                      29132 non-null  int64
 22  QBOL                      29132 non-null  int64
 23  JWFN                      29132 non-null  int64
 24  JZ9D                      29132 non-null  int64
 25  J9JW                      29132 non-null  int64
 26  GHYX                      29132 non-null  int64
 27  ECY3                      29132 non-null  int64
 28  duration_in_days          29132 non-null  int64
 29  year                      29132 non-null  int64
 30  month                     29132 non-null  int64
 31  week_of_year              29132 non-null  int64
dtypes: int64(26), object(6)
memory usage: 7.1+ MB

In [226]:
train_set

,ID,sex,marital_status,birth_year,branch_code,occupation_code,occupation_category_code,P5DA,RIBP,8NN1,...,QBOL,JWFN,JZ9D,J9JW,GHYX,ECY3,duration_in_days,year,month,week_of_year
0,4WKQSBB,F,M,1987,1X1H,2A7I,T4MS,0,0,0,...,0,0,0,0,0,0,611,2019,1,1
1,CP5S02H,F,M,1981,UAOD,2A7I,T4MS,0,0,0,...,0,0,0,0,0,0,607,2019,1,1
2,2YKDILJ,M,U,1991,748L,QZYX,90QI,0,0,0,...,0,0,0,0,0,1,2798,2013,1,1
3,2S9E81J,M,M,1990,1X1H,BP09,56SI,0,0,0,...,0,0,0,0,0,0,605,2019,1,2
4,BHDYVFT,M,M,1990,748L,NO3L,T4MS,0,0,0,...,0,0,1,1,0,0,605,2019,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29127,8SBA93U,F,M,1974,748L,2A7I,T4MS,0,0,0,...,0,0,0,0,0,0,604,2019,1,2
29128,Y73ETTO,M,M,1987,XX25,Q6J6,90QI,0,0,0,...,0,0,0,0,0,0,967,2018,1,2
29129,MVXG2LC,M,M,1985,BOAS,6PE7,T4MS,0,0,0,...,0,0,0,0,0,0,611,2019,1,1
29130,BUQ8DQN,M,M,1989,UAOD,2A7I,T4MS,0,0,0,...,0,0,0,0,0,0,606,2019,1,2
29131,DEJBWYU,M,M,1975,94KC,31JW,90QI,0,0,0,...,0,0,0,0,0,0,245,2020,1,1

> reorder columns

In [227]:
def movecol(df, cols_to_move=[], ref_col='', place='After'):
    
    cols = df.columns.tolist()    
    if place == 'After':
        seg1 = cols[:list(cols).index(ref_col) + 1]
        seg2 = cols_to_move
    if place == 'Before':
        seg1 = cols[:list(cols).index(ref_col)]
        seg2 = cols_to_move + [ref_col]
    
    seg1 = [i for i in seg1 if i not in seg2]
    seg3 = [i for i in cols if i not in seg1 + seg2]
    
    return(df[seg1 + seg2 + seg3])

In [229]:
train_set = movecol(train_set, ['duration_in_days', 'year', 'month', 'week_of_year'], ref_col='ID')

In [230]:
train_set

,ID,duration_in_days,year,month,week_of_year,sex,marital_status,birth_year,branch_code,occupation_code,...,AHXO,BSTQ,FM3X,K6QO,QBOL,JWFN,JZ9D,J9JW,GHYX,ECY3
0,4WKQSBB,611,2019,1,1,F,M,1987,1X1H,2A7I,...,0,0,0,1,0,0,0,0,0,0
1,CP5S02H,607,2019,1,1,F,M,1981,UAOD,2A7I,...,0,0,0,1,0,0,0,0,0,0
2,2YKDILJ,2798,2013,1,1,M,U,1991,748L,QZYX,...,0,0,0,0,0,0,0,0,0,1
3,2S9E81J,605,2019,1,2,M,M,1990,1X1H,BP09,...,0,0,0,1,0,0,0,0,0,0
4,BHDYVFT,605,2019,1,2,M,M,1990,748L,NO3L,...,0,0,0,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29127,8SBA93U,604,2019,1,2,F,M,1974,748L,2A7I,...,0,0,0,1,0,0,0,0,0,0
29128,Y73ETTO,967,2018,1,2,M,M,1987,XX25,Q6J6,...,0,0,0,1,0,0,0,0,0,0
29129,MVXG2LC,611,2019,1,1,M,M,1985,BOAS,6PE7,...,0,0,0,1,0,0,0,0,0,0
29130,BUQ8DQN,606,2019,1,2,M,M,1989,UAOD,2A7I,...,0,0,0,1,0,0,0,0,0,0
29131,DEJBWYU,245,2020,1,1,M,M,1975,94KC,31JW,...,0,0,0,1,0,0,0,0,0,0

> Melt product IDs to single columns

In [236]:
product_ids  = train_set.columns.to_list()[11:]

In [239]:
f'lenght of insurance products {len(product_ids)}'

'lenght of insurance products 21'